apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: backend-service-base

labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/version: "1.0.0"

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

