apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: backend-service-production

namespace: gitops-demo-prod

namePrefix: prod-

labels:
- pairs:
    environment: production
    tier: production

resources:
- ../../base
- namespace.yaml
- pdb.yaml

patches:
- path: patch-deployment.yaml
  target:
    kind: Deployment
    name: backend-service

configMapGenerator:
- behavior: replace
  literals:
  - PORT=8080
  - SERVICE_NAME=backend-service
  - ENVIRONMENT=production
  - LOG_LEVEL=warn
  name: backend-service-config

images:
- name: ghcr.io/anasadan/gitops-demo
  newName: ghcr.io/anasadan/gitops-demo
  newTag: 1.0.1
